/*
 * 咨询广场详情样式
 */
.advisoryDetails {
    margin-top: 2rem;
   
    background: white;
    .maninformation {
        //font-size: 1rem;
        color: rgb(29,37,49);
        padding-top: 0.75rem;
        padding-bottom: 1.5rem;
        line-height: 2rem;
        .avatar {
            
            display: inline-block;
            position: absolute;
            margin-left: 1.5rem;
            .ant-img-style{
                width: 44px;
                height: 44px;
                border-radius:20px ;
            }
        }
        .name {
            margin-left: 4.5rem;
        }
        .sex {
            margin-left: 0.75rem;
        }
        .age {
            margin-left: 0.75rem;
        }
        .address {
            margin-left: 5rem;
        }
        .time {
            float: right;
            margin-right: 1rem;
        }
    }
    .description {
        //font-size: 1rem;
        color: rgb(0,0,0);
        margin-left: 3.25rem;
    }
    .descriptionContent {
        margin-left: 5rem;
        margin-top: 0.75rem;
        //font-size: 0.75rem;
        color: rgb(0,0,0);
    }
    .descriptionImg{
        margin: 1.5rem 0rem 3.5rem 5rem;
       
    }
    hr {
        width: 90%;
        margin: 0 auto;
    }
    .prompt {
        //font-size: 0.9rem;
        color: rgb(70,149,217);
        text-align: center;
        margin-top: 1rem;
    }
    .answerButton {
        text-align: center;
        margin-top: 1rem;
        padding-bottom: 7.5rem;
        .ant-btn {
           // font-size: 0.9rem;
            color: white;
            background: rgb(28,185,52);
            width: 8.75rem;
            height: 2.5rem;
        }
    }
}