.comment-list{
  table{
    margin-bottom: 2rem;
  }
  div{
    // padding-bottom: 50rem;
  }
  .comments-col{
    .replay{
      position: relative;
      background: $DARK-GRAY;
      margin-top: .75rem;
      padding: .5rem;
    }
    .v-center{
      width: 100%;
      text-align: center;
    }
    .replay::before{
      content: '';
      position: absolute;
      left: .75rem;
      top: -1.5rem;;
      border: .75rem solid transparent;
      border-bottom: .75rem solid $DARK-GRAY;
    }
  }
}
