//公共配置 样式区
$patient_info_height:46px; //患者信息 公共部分 头部高度
$patient_info_background:#fff;//患者信息 公共部分 背景色
$patient_info_padding:10px;//患者信息 公共部分 图片padding

//字体大小
$FONT-SIZE-XXL: 1.25rem; //非常大
$FONT-SIZE-XLL: 1rem; //很大
$FONT-SIZE-XL: 0.9rem; //一般用于：标题
$FONT-SIZE-L: 0.8rem; //副标题
$FONT-SIZE-M: 0.7rem; //正常字体
$FONT-SIZE-S: 0.6rem; //小字体

//按键样式
$BUTTON-RED:#ff5e3a;
$BUTTON-ORANGE:#ff9501;
$BUTTON-GREEN:#1fbba6;

$COLOR-YELLOW-PINK:#ffefeb;
$DARK-GRAY:#CCCCCC;
