/*
* 公共组件样式
*/
//网站导航条
.component.site-header {
    $base-color: #2db7f5;
    background-color: $BUTTON-RED;
    height: 3rem;
    background-color: $BUTTON-RED;
    border-bottom: 1px solid $BUTTON-RED;
    .header-logo {
      width: 10rem;
      height: 3rem;
      float: left;
      background: url('../img/site-logo.png') center no-repeat;

    }
    .header-content {}
    .header-action {
      line-height: 3rem;
      color: #fff;
     // font-size: 0.7rem;
      text-align: right;
      margin-right: 1rem;
      nav>span {
        margin-left: 1rem;
        cursor: pointer;
        font-weight: 600;
       // font-size: $FONT-SIZE-M;
        span {
            margin-left: 0.2rem;
        }
        &.action-log-out {
            cursor: pointer;
        }
        &.action-log-out:hover {
            color: #555;
        }
      }
      .action-mec-name{
        cursor: default;
        margin-right: 1rem;
        .ant-select-selection{
            background: none;
            color: white;
            border: none;
        }

      }
      .action-user-name {
        cursor: default;
        img {
          width: 35px;
          height: 35px;
          border-radius: 35px;
          position: absolute;
          margin-top: 11px;
          margin-left: -22px;
        }
      }
    }
}

//网站底部
.component.site-footer {
    color: #555;
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0;
}
//网站面包屑
.component.site-breadcrumb {
    background: #fff;
    border-bottom: 1px solid #e5e5e5;
    //margin-left: -2rem;
    padding: 0.5rem 1rem;
}
//内容区头部
.component.cont-header {
    .cont-title {
        margin: 0 0 0.5rem;
        //font-size: 0.9rem;
        text-indent: 1rem;
    }
    .dividing-line {
        margin: 0;
        height: 1px;
        border: 0 none;
        background-color: #a9a9a9; //#d9d9d9
    }
}
// 模板树组件tree
.content{
  .tree-left{
    .add-temple{
      .icon-hiden{
        display: none;
        margin-left: 11px;
      }
    }
    .add-temple:hover{
      .icon-hiden{
        display: inline-block !important;
      }
    }
  }
}


.component-file-base-info{
  margin: 1rem;
  .item{
    margin: .25rem 0px;
  }
  h3{
    margin: 1rem 0px;
  }
  label{
    color: $BUTTON-RED;
    padding: 10px;
  }
}
.component.card-container{
    background: white;
    height: 100%;
    padding: 1rem .75rem;
  .ant-tabs-bar {
    border-bottom: 1px solid #fe3e5a;
    .ant-tabs-nav-container {
      height: 32px;
      .ant-tabs-nav{
        padding-left: 1.5rem;
      }
      .ant-tabs-tab-active {
        color: #fe5e3a;
        border-color: #fe5e3a;
        border: 1px solid #fe5e3a !important;
        border-radius: 0px;
      }
      .ant-tabs-tab {
        border: none;
      }
    }
  }
}
