/*
 * 咨询广场样式
 */
.consultsList {
    .card-container{
        .ant-menu-item-selected > a{
            color: #2db7f5;
        }
        .ant-menu-item{
            span{
                //font-size: 20px;
    font-weight: 800;
            }
        }
    }
    .nav-stsatus{
        display: inline-block;
    }
    .advisory-number {
     
           float: right;
    display: inline-block;
    margin-right: 1rem;
    //font-size: 18px;
    margin-top: 0.4rem;
    
       // font-size: 16px;
        .rooms{
            color: red;
        }
    
      
    }
    .list-tabs {
        width: 100%;
       
    }
    .title-left-padding {
        margin-left: 15px;
       // font-size: 16px;
    }
    .number-left-padding {
        margin-left: 10px;
       // font-size: 16px;
    }
    .tabs-style {
       // font-size: 20px;
    }
   
    .list-tabs-consult {
        width: 100%;
       // position: absolute;
        margin-top: 2rem;
    }
}
