.medicalRecord{
    .medtabls{
      //margin-top: 1rem;
     .ant-tabs-bar{
          border: none;
      }
      .ant-tabs-ink-bar{
          display: none !important;
      }
      .med-list{
        margin: 2rem;
      }
    }


}

//病历信息
.caseinfo{
    margin-left: 2rem;
    margin-top: 1rem;
    p{min-height: 2rem;}
    .title{
        margin-bottom: 0.5rem;
        font-size: $FONT-SIZE-L;
        color: black;
        margin-top: 1.25rem;
    }
    .toptitle{
        margin-bottom: 0.5rem;
        font-size: $FONT-SIZE-L;
        color: black;
    }
    .content{
        margin-left: 1.5rem;
    }
}

//处方信息
.prescribingInfo{
    margin-top: -32px;
    .active{
      background-color: #feefea;
    }
    .mingxi{
        margin-top: 1rem;
        .title{
            background: #feefea;
            padding: 0.5rem;
        }
        .table{

        }
    }
}
