.medicalList{
    min-height: 300px;
    .title{
         // font-size: 16px;
    text-align: center;
    padding: 5px;
    }
    .table-header{
        background: #ff5e3a;
    padding: 5px;
    color: white;
        .header{
            .time{
               display: inline-block; 
               width: 50%;
               text-align: center;
            }
            .zhenduan{
                display: inline-block;
                width: 50%;
                text-align: center;
            }
        }
    }
    .table-content{
        border: 1px solid #bbb;
        border-bottom: none;
        .content{
            padding: 5px;
            border-bottom: 1px solid #bbb;
            cursor: pointer;
            text-align: center;
            .time{
                display: inline-block;
                width: 50%;
                
            }
            .zhenduan{
                display: inline-block;
                width: 50%;
               
            }
        }
        .action{
            background: #ff9501;
        }
    }
    .table-footer{
       
        .footer{
            text-align: center;
            padding: 20px;
        }
        .footer-pag{
            text-align: right;
            margin-top: 0.5rem;
        }
    }
}
