.operation-bar{
  border-top: 1px solid #bbb;
  padding-top: 10px;
  .ant-spin-nested-loading .ant-spin{
      position: static;
  }
  .bar{
    text-align: center;
    margin-top: 0.5rem;

  }
  .loading{
    .ant-spin-nested-loading{
      div:first-child{
        height: 0;
      }
    }
  }
  .save-button{
      text-align: center;
      .ant-btn{
          border: none;
          padding:0px

      }
      .ant-btn:hover, .ant-btn:focus, .ant-btn:active, .ant-btn.active{
          border: none;
          border-color:none;
      }
      .ant-btn-clicked{
          border: none;
          border-color:none;
      }
  }
}
