$padding:.8rem;
.outpatient-department{
  // 字体设置
  .font-size-m{
    //font-size: $FONT-SIZE-M;
  }
  .font-weight{
    font-weight: bold;
  }
  // 菜单字体
  .ant-tabs-tab{
    //font-size: $FONT-SIZE-L;
  }
  // table
  .ant-table{
    border: 1px solid #d9d9d9;
    // .ant-table-header {
    //   margin-bottom: 0 !important;
    // }
    .ant-table-title{
     // font-size: $FONT-SIZE-L;
      border-bottom: 1px solid #d9d9d9;
      background-color: #ffefeb;
      padding: 5px 10px;
    }
    .ant-table-thead > tr > th{
      padding: 8px;
    }
    .ant-table-tbody > tr > td {
      padding: 4px;
    }
    //table 头像
    .head-img{
      height: $FONT-SIZE-M + $padding;
      width: $FONT-SIZE-M + $padding;
      border-radius: 100%;
    }
  }
  //居中
  .text-center{
    text-align: center;
    //font-size: $FONT-SIZE-M;
  }
  //状态
  .custom-tab{
    //font-size: $FONT-SIZE-M;
    color: #fff;
    border-radius: 100px;
    margin: 0;
    height: $FONT-SIZE-M + $padding;
    line-height: $FONT-SIZE-M + $padding;
  }
  .tab-consultation{
    @extend .custom-tab;
    background-color: $BUTTON-GREEN;
    border:1px solid $BUTTON-GREEN;
  }
  .tab-waiting{
    @extend .custom-tab;
    color: $BUTTON-GREEN;
    background-color: #fff;
    border:1px solid $BUTTON-GREEN;
  }
  .tab-lose{
    @extend .custom-tab;
    background-color: $BUTTON-ORANGE;
    border:1px solid  $BUTTON-ORANGE;
  }
  .tab-finish{
    @extend .custom-tab;
    background-color: $BUTTON-RED;
    border:1px solid  $BUTTON-RED;
  }
  //按钮
  .button{
    margin: 0 5px;
    height: $FONT-SIZE-M + $padding;
    span{
     // font-size: $FONT-SIZE-M;
    }
  }
}

//按钮颜色
.button-orange{
  color: #fff;
  background-color: $BUTTON-ORANGE;
  &:hover{
    color: #fff;
    border: 1px solid $BUTTON-ORANGE;
    background-color: $BUTTON-ORANGE;
  }
}
.button-green{
  color: #fff;
  background-color: $BUTTON-GREEN;
  &:hover{
    color: #fff;
    border: 1px solid $BUTTON-GREEN;
    background-color: $BUTTON-GREEN;
  }
}
.button-transparent{
  background: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0);
  border: 0px;
  cursor: inherit;
  &:hover{
    background: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    border: 0px;
    cursor: inherit;
  }
}
.button-red{
  color: #fff;
  background-color: $BUTTON-RED;
  &:hover{
    color: #fff;
    border: 1px solid $BUTTON-RED;
    background-color: $BUTTON-RED;
  }
}
