
.patientInfoItem {
   //font-size: $FONT-SIZE-M;
   // height: $patient_info_height;
    // max-width: 300px;
    .iconfont{
     font-size: 2rem;
    }
    display: flex;
    display: -webkit-flex;
    align-items: center;
    margin-left: 1rem;
    div{
      display: inline-block;
      margin-right: 1rem;
    }

    .ant-tag {
        //font-size: $FONT-SIZE-L;
       // border-radius: 28px;
        background-color: $BUTTON-GREEN;
        color: white;

    }
}
