/*
 * 咨詢廣場詳情圖片組件
 * 
 */
.pictrueNav {
    .pictrueNavImg {
        display: inline-block;
        margin-left: 10px;
        img {
            cursor: pointer;
            width: 150px;
            height: 100px;
        }
    }
    .leftCircleO {
        display: inline-block;
      //  font-size: 43px;
        padding-top: -24px;
        cursor: pointer;
        line-height: 100px;
        overflow: hidden;
        margin-left: 10px;
    }
    .rightCircleO {
        display: inline-block;
     //   font-size: 43px;
        padding-top: -24px;
        cursor: pointer;
        line-height: 100px;
        overflow: hidden;
        margin-left: 10px;
    }
}
.pictureNavModel {
    .ant-modal-content {
        background: currentColor;
    }
    .ant-modal-close-x {
        font-size: 45px;
        color: rgb(2,206,256);
        margin-right: 30px;
        margin-top: -39px;
    }
    .pre {
        background: url("../img/next.png");
        cursor: pointer;
        width: 88px;
        height: 148px;
        position: fixed;
        top: 40%;
        z-index: 10000;
    }
    .next {
        background: url("../img/next.png");
        width: 88px;
        transform: rotateY(180deg);
        height: 148px;
        cursor: pointer;
        position: fixed;
        top: 40%;
        right: 2%;
        z-index: 10000;
    }
    .imge-page {
        overflow: hidden;
        height: 400px;
        text-align: center;
        position: relative;
        width: 100%;
        z-index: 1;
        cursor: move;
        
    }
    .ant-modal-footer {
        display: none;
    }
    .ant-modal-body {
        padding-top: 30px;
    }
    .actionBar {
        width: 400px;
        height: 70px;
        background: rgb(39,38,54);
        border-radius: 49px;
        margin: 50px auto;
        z-index: 100;
        position: relative;
        .enlarge {
            background: url("../img/enlarge.png");
            width: 45px;
            height: 45px;
            cursor: pointer;
        }
        .narrow {
            background: url("../img/narrow.png");
            width: 45px;
            height: 45px;
            cursor: pointer;
        }
        .download {
            background: url("../img/roate.png");
            width: 64px;
            height: 64px;
            cursor: pointer;
        }
    }
}