.yinpian{
  //数量输入框
  .input-number{
    width: calc(100% - 2rem);
  }
  .padding-5{
    padding: .5rem 0;
  }
  //右移
  .pull-right{
    float: right;
  }
  .yinpin-tabs{
       .ant-tabs-bar {
           border: none !important;
        }
        .ant-tabs-nav-container {

            .ant-tabs-tab-active {
                border: none !important;
            }
            .ant-tabs-tab {
               border: none !important;
            }
        }
  }
}

//下拉框样式
.yp-dropdown-select{
  &.w300{
    width: 300px;
  }
  &.w450{
    width: 450px;
  }
  .drug-warn{
    color: #ff5e3a;
  }
  .flex-display{
    display: flex;
    text-align: center;
    .flex-1{
      flex: 1;
    }
    .flex-2{
      flex: 2;
    }
    .flex-3{
      flex: 3;
    }
  }
}
