
/*
 标题 0.8rem 16px
 文字 0.7rem 14px
*/

//$primary-color: #1da57a; //主色调

html{
        font-size:125%; /* 20/16=125%  1rem=20px */
    }
@mixin antdFontWight($fontWight:200){
    .ant-table{
        
        .ant-table-tbody{
            font-weight: $fontWight;
        }
        .ant-table-footer{
             font-weight: $fontWight;
        }
    }
    .ant-input{
       
        font-weight: $fontWight;
    }
    
    .ant-form-item-label{
       label{
            
            font-weight: $fontWight;
       } 
    }
    .ant-checkbox-group{
        .ant-checkbox-group-item{
            
            
            &>span{
                
                font-weight: $fontWight;
            }
        }
    }
    .ant-input-number-input{
        font-weight: $fontWight;
    }
    input {
        
        font-weight: $fontWight;
    }
    .ant-btn{
        
        font-weight: $fontWight;
    }
    
    
}
@mixin antdFontSize($fontSize:14px){
    .ant-table{
        .ant-table-thead{
            font-size: $fontSize;
        }
        .ant-table-tbody{
            font-size: $fontSize;
        }
        .ant-table-title{
            font-size: $fontSize+2px;
        }
        .ant-table-footer{
            font-size: $fontSize;
        }
    }
    .ant-tabs{
        
            .ant-tabs-tab{
                font-size:$fontSize+2px;
            }     
        
    } 
    .ant-select{
        font-size: $fontSize;
    } 
    .ant-input{
        font-size:$fontSize ;
        
    }
    .ant-btn{
        font-size:$fontSize ;
    }
    .ant-form-item-label{
       label{
            font-size:$fontSize ;
           
       } 
    }
    .ant-radio-wrapper{
         font-size:$fontSize ;
    }
    .ant-checkbox-group{
        .ant-checkbox-group-item{
            
            .ant-checkbox{
                .ant-checkbox-inner{
                    width:$fontSize;
                    height: $fontSize;
                } 
            }
            &>span{
                font-size:$fontSize ;
                
            }
        }
    }
    .ant-input-number-input{
        font-size:$fontSize ;
               
    }
    input {
        font-size:$fontSize ;
        
    }
    .ant-btn{
        font-size:$fontSize ;
       
    }
    
    
}

body{
    background-color:#eee;
    
    .font-wight-set{
        @include antdFontWight(800);
        font-weight: 800;
        
    }
    .font-size-default{
        @include antdFontSize(14px);
        font-size: 14px;
        height: 98%;
    }
    .font-size-small{
        @include antdFontSize(12px);
        font-size: 12px;
         height: 98%;
    }
    .font-size-large{
        @include antdFontSize(16px);
        font-size: 16px;
         height: 98%;
    }
    
    
  
}

.ant-table{
  .ant-table-thead > tr > th{
    background-color: #e1e1e1;
  };
  tbody{
    background-color: #fff;
    td{
      padding: 0.5rem;
    }
  }
}


//404 背景
.not-found{
  background: url(img/404.png) no-repeat;
  width: 100%;
  height: 100%;

}

